body {
    align-content: center;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: #2F79B9;
}

input {
    margin: 1em auto;
    display: block;
}

input[type=submit] {
    background-color: #2F79B9;
    color: white;
    border-radius: 0.2em;
    border: 0em;
    padding: 0.2em 3em;
}

input[type=text] {
    width: 30em;
}

.display {
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #2F79B9;
    color: white;
    border-radius: 0.2em;
    border: 0em;
    padding: 0.2em 3em;
    margin: 2em;
}

.movie {
    margin:0.5em
}